#remotestorage-widget {
  z-index: 21000000 !important;
}

.rs-widget {
  box-sizing: border-box !important;
  overflow: hidden !important;
  max-width: 350px !important;
  padding: 10px !important;
  margin: 10px !important;
  border-radius: 3px !important;
  background-color: #fff !important;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2) !important;
  font-family: arial, sans-serif !important;
  font-size: 16px !important;
  color: #333 !important;
  will-change: max-height, height, width, opacity, max-width, background, box-shadow !important;
  transition-property: width, height, opacity, max-width, max-height, background, box-shadow !important;
  transition-duration: 300ms !important;
}

.rs-widget * {
  box-sizing: border-box !important;
}

.rs-widget .rs-hidden {
  display: none !important;
}

.rs-box {
  overflow: hidden !important;
  will-change: height !important;
  transition-property: height, width, max-height !important;
  transition-duration: 300ms !important;
  transition-timing-function: ease-in !important;
  opacity: 0 !important;
  max-height: 0px !important;
}

.rs-box.rs-selected {
  opacity: 1 !important;
  max-height: 420px !important;
}

/* Main logo */
.rs-main-logo {
  float: left !important;
  height: 36px !important;
  width: 36px !important;
  margin-top: 1px !important;
  margin-right: 0.625em !important;
  transition: margin-left 300ms ease-out, transform 300ms ease-out !important;
  cursor: pointer !important;
}
.rs-widget .rs-backend-remotestorage svg#rs-main-logo-remotestorage,
{
  display: normal !important;
}
.rs-widget[class*="rs-backend-"]:not(.rs-backend-remotestorage) svg#rs-main-logo-remotestorage {
  display: none !important;
}
.rs-widget.rs-backend-dropbox svg#rs-main-logo-dropbox {
  display: normal !important;
}
.rs-widget:not(.rs-backend-dropbox) svg#rs-main-logo-dropbox {
  display: none !important;
}
.rs-widget.rs-backend-googledrive svg#rs-main-logo-googledrive {
  display: normal !important;
}
.rs-widget:not(.rs-backend-googledrive) svg#rs-main-logo-googledrive {
  display: none !important;
}

polygon.rs-logo-shape {
  fill: #FF4B03 !important;
}

polygon.rs-logo-shape,
#rs-main-logo-dropbox path,
#rs-main-logo-googledrive path {
  transition-property: fill !important;
  transition-duration: 0.5s !important;
}

.rs-offline polygon.rs-logo-shape,
.rs-offline #rs-main-logo-dropbox path,
.rs-offline #rs-main-logo-googledrive path {
  fill: #888 !important;
  transition-property: fill !important;
  transition-duration: 0.5s !important;
}

/* Hide everything except logo when connected and clicked outside of box */
.rs-closed {
  max-width: 56px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  opacity: 0.5 !important;

  transition: max-height 100ms ease-out 0ms, max-width 300ms ease-out 300ms, background 300ms ease-in 200ms, opacity 300ms ease 200ms !important;
}

.rs-closed:hover {
  cursor: pointer !important;
  opacity: 1 !important;
}

.rs-box-initial {
  transition-duration: 0ms !important;
}

.rs-box-initial:hover {
  cursor: pointer !important;
}

.rs-widget a {
  color: #0093cc !important;
}

/* HEADLINE */
.rs-small-headline {
  font-size: 1em !important;
  font-weight: bold !important;
  margin: 0 !important;
  margin-bottom: 2px !important;
  height: 1.2em !important;
  word-break: break-all !important;
  overflow: hidden !important;
  line-height: 1em !important;
}

.rs-sub-headline {
  word-break: break-all !important;
  overflow: hidden !important;
  color: #666 !important;
  font-size: 0.92em !important;
  height: 1.2em !important;
}
.rs-big-headline {
  font-size: 1.625em !important;
  font-weight: normal !important;
  text-align: center !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* BUTTONS  */
.rs-button {
  font: inherit !important;
  color: inherit !important;
  background-color: transparent !important;
  border: 1px solid #dcdcdc !important;
  border-radius: 3px !important;
  cursor: pointer !important;
  margin: 0 !important;
}
.rs-button-small {
  padding: 0.6em 0.7em !important;
  margin-left: 0.2em !important;
  transition: border-color 300ms ease-out !important;
}
.rs-button-small svg {
  vertical-align: top !important;
}
.rs-button-wrap {
  margin-top: 10px !important;
}

.rs-button-wrap img,
.rs-button-wrap svg {
  float: left !important;
  margin-right: 0.6em !important;
  width: 40px !important;
  height: 40px !important;
}

.rs-button-big {
  padding: 15px 10px !important;
  margin-bottom: 10px !important;
  display: block !important;
  width: 100% !important;
  text-align: left !important;
  transition: box-shadow 200ms !important;
}
.rs-button-big > div {
  font-size: 1.125em !important;
  padding: 10px 0 !important;
}
.rs-button-big:hover {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2) !important;
}
.rs-button-big:active {
  background-color: #eee !important;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2) !important;
}
.rs-button-big:last-child {
  margin-bottom: 0 !important;
}

.rs-content {
  padding: 0 10px 10px 10px !important;
}


.rs-state-choose .rs-main-logo,
.rs-state-sign-in .rs-main-logo {
  margin-left: 45% !important;
  float: none !important;
}

.rs-sign-in-form input[type=text] {
  padding: 15px 10px !important;
  display: block !important;
  width: 100% !important;
  font: inherit !important;
  height: 52px !important;
  border: 1px solid #aaa !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.rs-sign-in-form button.rs-connect {
  padding: 15px 10px !important;
  margin-top: 20px !important;
  margin-bottom: 15px !important;
  display: block !important;
  width: 100% !important;
  border: none !important;
  border-radius: 3px !important;
  background-color: #3fb34f !important;
  font: inherit !important;
  color: #fff !important;
  transition: box-shadow 200ms, background-color 200ms !important;
}

.rs-sign-in-form button.rs-connect:hover {
  cursor: pointer !important;
  background-color: #4BCB5D !important;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 3px 8px 0 rgba(0,0,0,0.2) !important;
}

.rs-sign-in-form button.rs-connect:active {
  background-color: #3fb34f !important;
}

.rs-sign-in-form button.rs-connect:disabled,
.rs-sign-in-form button.rs-connect:disabled:hover {
  background-color: #aaa !important;
}

.rs-sign-in-form button.rs-connecting svg {
  height: 1em !important;
  width: auto !important;
  vertical-align: middle !important;
  margin-left: 0.5em !important;
  animation: rs-spin 1s linear infinite !important;
}

.rs-sign-in-error.rs-hidden,
.rs-box-error.rs-hidden {
  height: 0 !important;
}

.rs-sign-in-error.rs-visible,
.rs-box-error.rs-visible {
  height: auto !important;
  border-radius: 3px !important;
  padding: 0.5em 0.5em !important;
  margin-top: 0.5em !important;
  text-align: center !important;
  background-color: rgba(255,0,0,0.1) !important;
  color: darkred !important;
}

.rs-box-error {
  display: flex !important;
  flex-direction: row !important;
}

.rs-box-error .rs-error-message {
  flex: auto !important;
}

 /*Choose provider box */
.rs-box-choose {
  text-align: center !important;
  overflow: hidden !important;
}

.rs-box-choose p {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  line-height: 1.4em !important;
}

/*Connected box */
.rs-box-connected {
  display: flex !important;
  flex-direction: row !important;
  height: 40px !important;
  transition: height 0s !important;
}
.rs-connected-text {
  flex: auto !important;
  min-width: 0 !important;
}
.rs-box-connected .rs-user {
  font-weight: bold !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  word-break: keep-all !important;
}
.rs-connected-buttons, .rs-error-buttons {
  display: flex;
  gap: 5px;
}

.rs-disconnect:hover {
  border-color: #FF2D2D !important;
}
.rs-disconnect:hover .rs-icon{
  fill: #FF2D2D !important;
}
.rs-sync:hover {
  border-color: #FFBB0C !important;
}
.rs-sync:hover .rs-icon {
  fill: #FFBB0C !important;
}
.rs-sync.rs-rotate {
  border-color: #FFBB0C !important;
}
.rs-sync.rs-rotate .rs-icon {
  fill: #FFBB0C !important;
  animation: rs-spin 1s linear infinite !important;
}

/* Floating widget styles (top right corner) */
.rs-floating {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
}

@keyframes rs-spin {
  100% {
    transform: rotate(360deg) !important;
    transform: rotate(360deg) !important;
  }
}

/* Small/mobile screens */
@media screen and (max-width: 420px) {
  .rs-widget {
    font-size: 100% !important;
    transition: all 300ms ease-out !important;
    max-width: 400px !important;
  }
  .rs-floating {
    position: relative !important;
    top: auto !important;
    right: auto
  }
  .rs-closed {
    max-width: 56px !important;
  }
  .rs-state-choose,
  .rs-state-sign-in {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 100% !important;
  }
}

/* remove dotted outline border on Firefox */
.rs-widget a:focus,
.rs-widget a:active,
.rs-widget button:focus,
.rs-widget input:focus {
  outline:none !important;
}
.rs-widget button::-moz-focus-inner,
.rs-widget input[type="button"]::-moz-focus-inner {
  border:0 !important;
}

/* prevent rounded buttons on mobile Safari */
.rs-widget button,
.rs-widget input[type="button"] {
  -webkit-appearance: none !important;
}

.remotestorage-widget-modal-backdrop {
  display: none !important;
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0 !important;
  transition: opacity 0.3s linear !important;
}

.remotestorage-widget-modal-backdrop.visible {
  opacity: 1 !important;
  transition: opacity 0.3s linear !important;
}
